#melt_Cobber_Button{
    position: relative;
    visibility: hidden;
}

#melt_Iron_Button{
    position: relative;
    visibility: hidden;
}

#melt_Tin_Button{
    position: relative;
    visibility: hidden;
}

.Melt_Cobber_Gui{
    position: absolute;
    visibility: hidden;
}