body{
    background-color: #987654;
}


.Object_Gotten{
    visibility: visible;

    position: absolute;
    left: 27%;
    top: 25%;

    width: 40%;
    height: 30%;

    background-color: #a1785c;

    align-items: center;
    border-style: groove;
    border-color: black;
    border-width: 1px;
    border-radius: 6px;
}

.Object_Get_Inner_Bar{
    position: relative;
    left: 7px;

    width: 90%;
    height: 60%;
    background-color: #795644;

    border-style: groove;
    border-color: black;
    border-width: 1px;
    border-radius: 6px;
}


#Object_Get_Text{
    position: relative;
    left: 5%;
    top: 0px;

    background-color: wheat;
    height: 10%;
    width: 90%;
    text-align: center;
    border: 5em;
    border-color: #964B00;
    border-radius: 5px;
    border-style: groove;
    border-style: groove;
    border-color: black;
    border-width: 1px;
    border-radius: 6px;
}

#Mine_Get_Object_IMG{
    position: relative;
    left: -20%;
    top: -35px;

    transform: scale(0.75);
}

#Inventory_Button{
    position:absolute;
    left: 70%;
    top: 25%;

    background-color: transparent;
    border: none;
    transform: scale(1);
}
#upgrade_Tool_Button{
    position: absolute;
    left: 30%;
    top: 65%;
}
#crafting_Button{
    position: absolute;
    left: 70%;
    top: 40%;

    background-color: transparent;
    border: none;
    transform: scale(1);
}
#furness_Open_Button{
    position: absolute;
    left: 70%;
    top: 55%;

    background-color: transparent;
    transform: scale(0.9);

    border: none
}

#Market_Open_Button{
    position: absolute;
    top: 70%;
    left: 75%;
}

#Upgrade_Ship_Button{
    position:absolute;
    top: 60%;
    left: 90%;
}